*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    border: 1px solid rgb(55, 87, 87);
    height: 100vh;
}
.container{
    border: 1px solid rgb(55, 87, 87);
    display: inline-block;
    height: 90%;
}
.section-1 img{
    width: 200px;
    margin-left: 40px;
}
table th{
    color: blueviolet;
}
table tr{
    margin-bottom: 4px;
    padding: 4px;
}